#Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
}

#Header > div {
  min-width: 3em;
}

#Header img.headerButton {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border-radius: 1.5em;
  cursor: pointer;
}

#Header img.headerButton:hover {
  background-color: #ccc;
}
