#Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 3em;
  background-color: black;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

#Header img.headerButton {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border-radius: 1.5em;
  cursor: pointer;
}

#Header img.headerButton:hover {
  background-color: #ccc;
}

#Header div.indicators {
  position: relative;
  width: 0px;
  height: 0px;
}

#Header div.indicators img {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0.5em;
}

#Header div.indicators img.left {
  left: -3em;
}

#Header div.indicators img.right {
  left: -1em;
}

#Header .headerSeparator {
  border: 1px solid #666666;
  height: 2em;
  margin: 0.5em;
}

#Header #toolchainHeader {
  display: flex;
  align-items: center;
}

#Header #toolchainName {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: inherit;
  width: 10em;
}