<!-- We display these in reverse so that the interfaceIcons
     are always on the right, even if the other stuff is hidden -->
<div id="interfaceIcons">
  <img id="helpButton" class="headerButton" src="../../../images/info.svg" />
  <!--img id="achievementsButton" class="headerButton" src="../../../images/achievements.svg" /-->
  <img id="hamburgerButton" class="headerButton" src="../../../images/hamburger.svg" />
</div>

<div id="toolchainHeader">
  <img id="toolchainLocationButton" class="headerButton"/>
  <input type="text" id="toolchainName"/>
  <div id="toolchainIcons"></div>
</div>