<div id="dataIcons">
  <img class="headerButton" src="../../../images/girder.svg" />
  <img class="headerButton" src="../../../images/spreadsheet.svg" />
</div>

<div id="toolchainHeader">
  <input id="toolchainName" type="text" value="Untitled Toolchain"/>
  <div id="toolchainIcons"></div>
  <button id="saveToolchainButton">Save...</button>
</div>

<div id="exportIcons">
  <img class="headerButton" src="../../../images/share.svg" />
  <img class="headerButton" src="../../../images/embed.svg" />
</div>

<div id="interfaceIcons">
  <img id="achievementsButton" class="headerButton" src="../../../images/achievements.svg" />
  <img id="hamburgerButton" class="headerButton" src="../../../images/hamburger.svg" />
</div>