<div id="leftIcons">
</div>

<div id="toolchainHeader">
  <img id="toolchainButton" class="headerButton" src="../../../images/toolchain.svg" />
  <div class="indicators">
    <img id="toolchainSaveIndicator" class="left" src="../../../images/warning.svg" />
    <img id="toolchainVisibilityIndicator" class="right" />
  </div>
  <div id="toolchainIcons"></div>
</div>

<div id="rightIcons">
</div>

<div id="interfaceIcons">
  <!--img id="achievementsButton" class="headerButton" src="../../../images/achievements.svg" /-->
  <img id="hamburgerButton" class="headerButton" src="../../../images/hamburger.svg" />
</div>
