@import './colors.scss';

/*
  Girder's (and Bootstrap's) massive stylesheets interfere with
  Resonant Laboratory's styles in lots of places. Instead, while
  we essentially use some of Girder's views in place, we adapt
  the styles to fit our app
*/

#Overlay .modal-dialog {
  position: absolute;
  height: auto;
  left: calc(50% - 17em);
  width: 30em;
  text-align: center;
  top: calc(50% - 16em);
  padding: 2em 4em 2em 4em;
}

#Overlay button.close {
  position: absolute;
  color: transparent;
  background-color: transparent;
  background-image: url('../images/close.svg');
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  padding: 0px;
  box-shadow: none;
  border: none;
  outline: none;
}

#Overlay a {
  cursor: pointer;
}

#Overlay .modal-footer a.btn {
  background-color: white;
  padding: 0.5em 1em;
  line-height: 1em;
  cursor: pointer;
  border-radius: 4px;
  color: $darkTextColor;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.75em;
  border: solid 1px #ccc;
  background-position: center bottom;
}

#Overlay .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#Overlay .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

#Overlay .modal-footer,
#Overlay .g-bottom-message,
#Overlay .g-validation-failed-message,
#Overlay .form-group {
  display: flex;
  align-items: center;
  margin: 0.5em 0em;
}

#Overlay .form-group input {
  width: 22em;
}

#Overlay .g-password-reset-explanation,
#Overlay .g-bottom-message,
#Overlay .g-validation-failed-message {
  text-align: left;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.75em;
}

#Overlay .g-validation-failed-message {
  color: $errorNotificationColor;
}

#Overlay .modal-footer > *,
#Overlay .g-bottom-message > *,
#Overlay .g-validation-failed-message > *,
#Overlay .form-group > * {
  margin: 0em 0.5em;
  white-space: nowrap;
}

#Overlay .modal-footer {
  justify-content: flex-end;
}
