@import '../../../stylesheets/colors.scss';

.menu {
  position: absolute;
  background-color: $panelBackgroundColor;
  border: 1px solid rgba($shadowColor, 0.2);
  box-shadow: 0 6px 12px rgba($shadowColor, 0.175);
  border-radius: 4px;
}
.menu.withChecks {
  padding-left: 1em;
}

.menu hr {
  position: relative;
  width: 100%;
  border: none;
  height: 1px;
  background-color: $separatorColor;
  margin: 0px;
}

.menu div.menuItem {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0em 0.5em;
  margin: 0.25em 0em;
}
.menu div.menuItem.checkPadded {
  padding-left: 2.5em;
}
.menu div.menuItem.checked:before {
  content: url('../../../images/check.svg');
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 0.5em;
  top: calc(50% - 0.75em);
  -webkit-filter: imgColorFilter($overriddenIconColor);
  filter: imgColorFilter($overriddenIconColor);
}
.menu div.menuItem.separator {
  padding: 0px;
  margin: 0px;
}

.menu div.menuItem:hover {
  background-color: $menuRolloverColor;
  color: $darkRolloverColor;
  cursor: pointer;
}

.menu div.menuItem img.icon {
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  -webkit-filter: imgColorFilter($defaultDarkIconColor);
  filter: imgColorFilter($defaultDarkIconColor);
}

.menu div.menuItem:hover img.icon {
  -webkit-filter: imgColorFilter($darkRolloverColor);
  filter: imgColorFilter($darkRolloverColor);
}

.menu p {
  padding: 1em;
  margin: 0px;
}
