.DatasetView.content #histogramPreview {
  width: calc(100% - 2em);
  flex-grow: 1;
  overflow-x:hidden;
  overflow-y:auto;
  padding: 0em 1em;
}
.DatasetView.content #histogramPreview .attributeSection {
  position: relative;
  width: 100%;
}
.DatasetView.content #histogramPreview .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.DatasetView.content #histogramPreview .header label {
  position: relative;
  left: 0.25em;
  bottom: 0.35em;
}
.DatasetView.content #histogramPreview .header input.expander {
  width: 1em;
}
.DatasetView.content #histogramPreview .header input.expander:before {
  background-image: url('../../../images/collapse.svg');
  background-position: 0 0;
  width: 1em;
  height: 1em;
  left: 999em;
  top: 0.35em;
}
.DatasetView.content #histogramPreview .header input.expander:checked:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.DatasetView.content #histogramPreview .header img {
  width: 1em;
  height: 1em;
}
.DatasetView.content #histogramPreview .header img.button {
  margin-left: 0.5em;
}
.DatasetView.content #histogramPreview .header input.expander:hover:before,
.DatasetView.content #histogramPreview .header img.button:hover {
  cursor: pointer;
  -webkit-filter: url(#recolorImageToBlack) !important;
  filter: url(#recolorImageToBlack) !important;
}
.DatasetView.content #histogramPreview .content {
  position: relative;
  width: 100%;
  padding-bottom: 1em;
  overflow-x: auto;
}
.DatasetView.content #histogramPreview .content.collapsed {
  display: none;
}
.DatasetView.content #histogramPreview .attributeSection .yAxis line,
.DatasetView.content #histogramPreview .attributeSection .yAxis path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
.DatasetView.content #histogramPreview .attributeSection.excluded .yAxis line,
.DatasetView.content #histogramPreview .attributeSection.excluded .yAxis path {
  stroke: #999999;
}
.DatasetView.content #histogramPreview .attributeSection.excluded text {
  fill: #999999;
}
.DatasetView.content #histogramPreview .attributeSection.excluded rect {
  opacity: 0.25;
}
