.DatasetView.content {
  display: flex;
  flex-direction: column;
}

.DatasetView.content #datasetOverview {
  width: calc(100% - 2em);
  font-weight: 900;
  padding: 1em;
}
.DatasetView.content img.button:hover,
.DatasetView.content image.button:hover {
  cursor: pointer;
  -webkit-filter: url(#recolorImageTo333333);
  filter: url(#recolorImageTo333333);
}
.DatasetView.content img.button:hover,
.DatasetView.content image.button.disabled {
  cursor: default;
  -webkit-filter: url(#recolorImageTocccccc);
  filter: url(#recolorImageTocccccc);
}

.DatasetView.content #histogramPreview {
  width: calc(100% - 2em);
  flex-grow: 1;
  overflow-x:hidden;
  overflow-y:auto;
  padding: 0em 1em;
}
.DatasetView.content #histogramPreview .attributeSection {
  position: relative;
  width: 100%;
}
.DatasetView.content #histogramPreview .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.DatasetView.content #histogramPreview .header label {
  position: relative;
  left: 0.25em;
  bottom: 0.35em;
}
.DatasetView.content #histogramPreview .header input.expander {
  width: 1em;
}
.DatasetView.content #histogramPreview .header input.expander:before {
  background-image: url('../../../images/collapse.svg');
  background-position: 0 0;
  width: 1em;
  height: 1em;
  left: 999em;
  top: 0.35em;
}
.DatasetView.content #histogramPreview .header input.expander:checked:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.DatasetView.content #histogramPreview .content {
  position: relative;
  width: 100%;
  padding-bottom: 1em;
  overflow-x: auto;
}
.DatasetView.content #histogramPreview .content.collapsed {
  display: none;
}
.DatasetView.content #histogramPreview .header img {
  width: 1em;
  height: 1em;
}
.DatasetView.content #histogramPreview .header img.button {
  margin-left: 0.5em;
}
.DatasetView.content #histogramPreview .header input.expander:hover:before,
.DatasetView.content #histogramPreview .header img.button:hover {
  cursor: pointer;
  -webkit-filter: url(#recolorImageToBlack) !important;
  filter: url(#recolorImageToBlack) !important;
}

.DatasetView.content #tablePreview {
  position: relative;
  width: 100%;
  flex-grow: 1;
}
.DatasetView.content #tablePreview #dataTableContainer {
  overflow-y: auto;
  position: absolute;
  top: 5em;
  bottom: 0em;
  width: 100%;
}
.DatasetView.content #tablePreview #dataTableHeaders {
  position: absolute;
  background-color: #3f3b3b;
  color: white;
  top: 0em;
  height: 5em;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll; /* This keeps the header and the table the same width */
}
.DatasetView.content #tablePreview #dataTableHeaders div.tableHeader {
  display: table-cell;
  text-align: center;
  padding-top: 1em;
}
.DatasetView.content #tablePreview div.headerText,
.DatasetView.content #tablePreview td {
  max-width: 7em;
  padding: 0.5em 0em;
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
  margin: auto;
}
.DatasetView.content #tablePreview div.headerText::-webkit-scrollbar,
.DatasetView.content #tablePreview td::-webkit-scrollbar {
  height: 5px;
}
.DatasetView.content #tablePreview div.headerTools img {
  width: 1em;
  height: 1em;
}
.DatasetView.content #tablePreview div.headerTools img.button {
  margin: 0em 0.25em;
}
.DatasetView.content #tablePreview div.headerTools img.button:hover {
  cursor: pointer;
  -webkit-filter: url(#recolorImageToWhite) !important;
  filter: url(#recolorImageToWhite) !important;
}
.DatasetView.content #tablePreview table {
  font-family: Courier, monospace;
  font-size: 0.75em;
  border-collapse: collapse;
  border: 0px;
  -ms-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
}
.DatasetView.content #tablePreview tr:nth-child(odd) {
  background: #cccccc;
}

.DatasetView.content .overview {
  fill: #41b6c4;
}
.DatasetView.content .filtered {
  fill: #2c7fb8;
}
.DatasetView.content .page {
  fill: #253494;
}
