@import '../../../stylesheets/colors.scss';

.DatasetView.content #tablePreview {
  position: relative;
  width: 100%;
  flex-grow: 1;
}
.DatasetView.content #tablePreview #dataTableContainer {
  overflow-y: auto;
  position: absolute;
  top: 5em;
  bottom: 0em;
  width: 100%;
}
.DatasetView.content #tablePreview #dataTableHeaders {
  position: absolute;
  background-color: $dataTableHeaderColor;
  color: $lightTextColor;
  top: 0em;
  height: 5em;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll; /* This keeps the header and the table the same width */
}
.DatasetView.content #tablePreview #dataTableHeaders div.tableHeader {
  display: table-cell;
  text-align: center;
  padding-top: 1em;
}
.DatasetView.content #tablePreview div.headerText,
.DatasetView.content #tablePreview td {
  max-width: 7em;
  padding: 0.5em 0em;
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
  margin: auto;
}
.DatasetView.content #tablePreview div.headerText::-webkit-scrollbar,
.DatasetView.content #tablePreview td::-webkit-scrollbar {
  height: 5px;
}
.DatasetView.content #tablePreview div.headerTools img {
  width: 1em;
  height: 1em;
}
.DatasetView.content #tablePreview div.headerTools img.button {
  margin: 0em 0.25em;
}
.DatasetView.content #tablePreview div.headerTools img.button:hover {
  cursor: pointer;
  -webkit-filter: imgColorFilter($lightRolloverColor) !important;
  filter: imgColorFilter($lightRolloverColor) !important;
}
.DatasetView.content #tablePreview table {
  font-family: Courier, monospace;
  font-size: 0.75em;
  border-collapse: collapse;
  border: 0px;
  -ms-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
}
.DatasetView.content #tablePreview tr:nth-child(odd) {
  background: $dataTableOddRowColor;
}
