body {
  /*background-color: #666;*/
  padding: 0px;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* awkward font stack that attempts to approximate Girder's...
  (they cheat and just use Helvetica Neue) */
  font-family: "Josefin Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  background-color: #666;
}

h1, button, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", "Helvetica", "Arial", sans-serif;
}
h1 {
  font-weight: 900;
}
button, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
button {
  font-size: 0.75em;
}

hr {
  width: 100%;
}

a {
  color: #377eb8;
}

p {
  max-width: 30em;
  line-height: 1.25em;
}

#EmptyState {
  position: absolute;
  top: 4.5em;
  right: 1.5em;
  height: calc(100vh - 6em);
  color: #f0f0f0;
}
#EmptyState > div {
  width: 15em;
}
#QuestionHint {
  position: absolute;
  top: 0em;
  right: 0em;
  text-align: right;
  background-image: url('../images/looseSeal.svg');
  height: 15em;
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.0);
}
