@import './colors.scss';

body {
  padding: 0px;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  /* awkward font stack that attempts to approximate Girder's...
  (they cheat and just use Helvetica Neue) */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  background-color: $pageBackgroundColor;
  color: $darkTextColor;
}

h1, h2, h3, h4, h5, h6, button, input, input:after {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
h1 {
  font-weight: 900;
}
button, input[type="file"]:after, h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
button {
  font-size: 0.75em;
}
input.invalid {
  color: $errorNotificationColor;
  background-color: $errorNotificationBackgroundColor;
}
h3 {
  margin-top: 1em;
  margin-bottom: 0em;
}

hr {
  width: 100%;
}

a {
  color: $linkTextColor;
  fill: $linkTextColor;  /* for links in SVG */
  cursor: pointer;
}

p {
  max-width: 30em;
  line-height: 1.25em;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba($shadowColor,0.5);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba($shadowColor,1.0);
}
