#Overlay {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
}
div.libraryInterface {
    padding: 4em;
}
div.circleset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
div.circleButton {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}
div.circleButton img {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background-color: white;
}
div.circleButton:hover {
    background-color: #ccc;
}