/* CSS-only horizontal accordion adapted from:
    http://www.sitepoint.com/css3-horizontal-accordion-using-target-selector/
*/

div.accordion {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #666;
  overflow: auto;
}

div.accordion section {
  position: relative;
  display: block;
  float: left;
  width: 2em;
  height: calc(100% - 1em);
  margin: 0.5em 0 0.5em 0.5em;
  color: #333;
  background-color: #333;
  overflow: hidden;
  border-radius: 3px;
}

div.accordion section .sectionHeader {
  position: absolute;
  width: calc(100vh - 4em);
  height: 2em;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

div.accordion section .sectionHeader .title {
  display: inline-block;
  line-height: 1.75em;
  text-indent: 0.5em;
  font-weight: bold;
  color: #ddd;
  cursor: pointer;
}

div.accordion section div.content {
  position: relative;
  width: 100%;
  height: calc(100% - 3em);
  overflow: auto;
  opacity: 0.0;
}

div.accordion section {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

div.accordion section div.content {
  -webkit-transition: 0s ease;
  -moz-transition: 0s ease;
  -ms-transition: 0s ease;
  -o-transition: 0s ease;
  transition: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

div.accordion section.targeted {
  color: #333;
  background-color: #fff;
}

div.accordion section.targeted .sectionHeader {
  position: static;
  width: 100%;
  color: #333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

div.accordion section.targeted .sectionHeader .title {
  line-height: 2em;
  color: #333;
}

div.accordion section.targeted div.content {
  opacity: 1.0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}