<h4 id="privateToolchainsHeader" class="hideable">
  Your Private Toolchains
</h4>
<p id="privateToolchainsExplanation" class="hideable">
  These toolchains are hidden to everyone, unless you
  have specifically given them permission in the
  <a id="girderLink">Girder interface</a>.
</p>
<div id="privateToolchains" class="hideable circleset">

</div>
<h4 id="publicToolchainsHeader" class="hideable">
  Your Public Toolchains
</h4>
<p id="publicToolchainsExplanation" class="hideable">
  Anyone can see these toolchains.
</p>
<div id="publicToolchains" class="hideable circleset">

</div>
<h4 id="scratchToolchainsHeader" class="hideable">
  Your Toolchains in the Public Scratch Space
</h4>
<p id="scratchToolchainsExplanation" class="hideable">
  Anyone can see or edit these toolchains at any time.
  <a id="loginLink">Log in</a> or <a id="registerLink">Register</a>
  to take control of who can see or edit these toolchains.
</p>
<div id="scratchToolchains" class="hideable circleset">

</div>
<h4 id="toolchainLibraryHeader" class="hideable">
  Our Toolchain Library
</h4>
<div id="toolchainLibrary" class="hideable circleset">

</div>
