body {
  background-color: #454545;
  padding: 0px;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Gentium Basic", "palatino", serif;
}

button {
  font-family: "Gentium Basic", "palatino", serif;
}

hr {
  width: 100%;
}

div.hide {
  display: none;
}