body {
  background-color: #454545;
  padding: 0px;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Gentium Basic", "palatino", serif;
}

button {
  font-family: "Gentium Basic", "palatino", serif;
}

hr {
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.0);
}
