body {
  background-color: #454545;
  padding: 0px;
  margin: 0px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Gentium Basic", "palatino", serif;
}

button {
  font-family: "Gentium Basic", "palatino", serif;
}

hr {
  width: 100%;
}

div.hide {
  display: none;
}

#Tooltip {
  display: none;
  margin: 0px;
}

#Tooltip.showing {
  display: inline;
  z-index: 10;
  position: absolute;
  color: #111;
  border: 1px solid #DCA;
  padding: 1em;
  background: #fffAF0;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #CCC;
}