.midas-dashboard.container-fluid.trackerdash
  .top-info-bar.row
  .overview-panel.row
    .info-pane.col-md-6
      .info-title Ground Truth Performance
    .trend-pane.col-md-6
      .trend-graph Graph goes here
  .status-bar-widget.row
  .result-table-panel.row
    .result-table-pane.col-md-12
