<div class="hint">
  <img src="../../../images/close.svg" id="closeOverlay" />
  <img class="headerIcon" src="../../../images/spinner.gif" />
  <p><%= message %></p>
  <p>If you think it should have finished by now, please let us know <a>here</a>. If something is broken, we want to get it fixed as soon as possible.</p>
  <p>Or, it's totally possible that you're doing something aweseome that we didn't anticipate (like using a huge dataset). If so, we'd love to work with you to build a <a>custom solution</a> that better fits your needs.</p>
</div>
