<div id="aboutResLab" class="libraryInterface">
  <img src="../../../images/close.svg" id="closeOverlay" />
  <div id="marketingSchpeel">
    <h1>Resonant Laboratory</h1>
    <p>
      Resonant Laboratory is a tool developed by Kitware, Inc. to help
      users build and share visualizations without needing to write code.
    </p>
    <p>
      TODO: better marketing schpeel...
    </p>
    <button id="okButton">OK</button>
  </div>
  <div id="brandingIcons">
    <img src="../../../images/Resonant.png"/>
    <img src="../../../images/Kitware.png"/>
  </div>
</div>
<script type="application/javascript">
  jQuery('#okButton').on('click', function () {
    window.mainPage.overlay.closeOverlay();
  });
</script>
