@import '../../../stylesheets/colors.scss';

#Overlay #projectSettings > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 2em;
  margin: 0em -0.5em;
}
#Overlay #projectSettings > div > * {
  margin: 0.5em;
}
#Overlay #projectSettings img {
  width: 1.5em;
  height: 1.5em;
  -webkit-filter: imgColorFilter($defaultDarkIconColor);
  filter: imgColorFilter($defaultDarkIconColor);
}
#Overlay #projectSettings .visibilityRadios {
  padding-left: 4.5em;
}
