#Overlay div.form > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#Overlay div.form > div > * {
  margin: 0.5em;
}
#Overlay div.form button {
  white-space: nowrap;
}
#Overlay #projectDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#Overlay div.unclickable.circleButton:hover {
  cursor: default;
  border: 2px solid rgba(0,0,0,0);
}