<div id="projectSettings">
  <div>
    <label for="projectNameField">Name:</label>
    <input type="text" id="projectNameField"/>
  </div>
  <div>
    <img src="../../../images/girder.svg"/>
    <span>Location:</span>
    <a id="projectLocation" target="_blank"></a>
  </div>
  <div>
    <img id="visibilityIcon" src="../../../images/public.svg"/>
    <img id="editabilityIcon" src="../../../images/canEdit.svg"/>
    <span>Access:</span>
  </div>
  <div class="visibilityRadios">
    <span>
      <input value="PrivateUser" id="privateVisibility" name="projectVisibility" type="radio">
      <label for="privateVisibility">Private</label>
    </span>
    <span>
      <input value="PublicUser" id="publicVisibility" name="projectVisibility" type="radio">
      <label for="publicVisibility">Public</label>
    </span>
    <span>
      <input value="PublicScratch" id="scratchVisibility" name="projectVisibility" type="radio">
      <label for="scratchVisibility">Public Scratch Space</label>
    </span>
    <span>
      <input value="PublicLibrary" id="libraryVisibility" name="projectVisibility" type="radio">
      <label for="libraryVisibility">Library</label>
    </span>
  </div>
</div>
