<div class="libraryInterface">
  <img src="../../../images/close.svg" id="closeOverlay" />

  <div id="loginLinks">
    For more control, <a id="registerLink">Register</a> or <a id="loginLink">Log In</a>
  </div>
  
  <h1 id="projectSettingsHeader">
    Project Settings
  </h1>
  <div id="projectSettings">
    <p>A project connects datasets to visualizations. If your project is public, you can share your work simply by sharing the URL.</p>

    <div class="form">
      <div>
        <label>Name:</label>
        <input id="projectNameField" type="text" />
        <button id="saveAsButton">Save A Copy</button>
        <button id="deleteButton">Delete</button>
        <button id="newButton">New Empty Project</button>
      </div>
      
      <div>
        <img id="visibilityIcon" />
        <label id="visibilityLabel"></label>
      </div>
      
      <div>
        <img id="editabilityIcon" />
        <label id="editabilityLabel"></label>
      </div>
      
      <div class="clickable" id="girderButton">
        <img src="../../../images/girder.svg" class="button" />
        <label>Set advanced permissions for this project in Girder</label>
      </div>
      
      <div class="clickable" id="copyLinkButton">
        <img src="../../../images/copyLink.svg" class="button" />
        <label>Copy a link to this project (only those with access
        can use it)</label>
      </div>
      
      <div>
        <input value="PrivateUser" id="privateVisibility" name="projectVisibility" type="radio">
        <label for="privateVisibility">Private</label>
        <input value="PublicUser" id="publicVisibility" name="projectVisibility" type="radio">
        <label for="publicVisibility">Public</label>
        <input value="PublicScratch" id="scratchVisibility" name="projectVisibility" type="radio">
        <label for="scratchVisibility">Public Scratch Space</label>
        <input value="PublicLibrary" id="libraryVisibility" name="projectVisibility" type="radio">
        <label for="libraryVisibility">Library</label>
      </div>
    </div>
  </div>
  <div id="libraryChunk">
  
  </div>
</div>

<style type="text/css">
  #loginLinks {
    position: absolute;
    top: 1.5em;
    right: 4em;
  }
</style>
