<div class="libraryInterface">
  <div id="welcomeSection">
    <h1>Resonant Reference App</h1>
    <div class="circleset">
      <div id="startWithVisButton" class="circleButton">
        <img src="../../../images/light/scatterplot.svg" />
        <span>Start with a visualization</span>
      </div>
      <div id="startWithDataButton"  class="circleButton">
        <img src="../../../images/light/dataset.svg" />
        <span>Start with a dataset</span>
      </div>
      <div id="emptyToolchainButton"  class="circleButton">
        <img src="../../../images/light/file.svg" />
        <span>Start with an empty toolchain</span>
      </div>
    </div>
  </div>

  <h1 id="privateToolchainsHeader" class="hideable">
    Your Private Toolchains
  </h1>
  <div id="privateToolchains" class="hideable circleset">

  </div>
  <h1 id="publicToolchainsHeader" class="hideable">
    Your Public Toolchains
  </h1>
  <div id="publicToolchains" class="hideable circleset">

  </div>
  <h1 id="toolchainLibraryHeader" class="hideable">
    Our Toolchain Library
  </h1>
  <div id="toolchainLibrary" class="hideable circleset">

  </div>
</div>
