#startingGuide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16em;
    left: calc(50% - 8em);
    width: 16em;
    text-align: center;
    top: calc(50% - 8em);
}