html, body, .page
    width: 100%
    height: 100%
    margin: 0

.test-list
    margin: 15px

.vis-table
    height: 300px

.vis-full
    width: 100%
    height: 100%

.containing-matrix
    width: 100%

#containing-table
    width: 500px

td
    max-width: 0

canvas
    display: block

.overlay
    position: fixed
    bottom: 15px
    right: 15px
    width: 200px
    padding: 20px
    background-color: #ffeeaabb

.hidden
    display: none
    visibility: hidden
