<div class="hint">
  <img src="../../../images/close.svg" id="closeOverlay" />
  <img class="headerIcon" src="../../../images/newInfo.svg" />
  <p>Use this panel to visualize your data.</p>
  <p>Ways to level up:
  <ul>
    <li><a>Share a link to your visualization</a></li>
    <li><a>Embed a visualization in your own page</a></li>
    <li><a>Export the visualization as an image</a></li>
    <li><a>Load multiple visualizations at once</a></li>
    <li><a>Add multiple visualizations</a></li>
    <li><a>Use an advanced visualization</a></li>
    <li><a>Build your own visualization</a></li>
  </ul>
  </p>
  <p>Have an idea that we haven't anticipated? If so, we'd love to work with you to adapt or build a <a>custom solution</a> that better fits your needs.</p>
</div>
