.page#matrix
  table.containing-matrix
    tr
      td.vis-element.vis-table
      td.vis-element.vis-table
    tr
      td.vis-element.vis-table
      td.vis-element.vis-table
  p.overlay These vis should fit in the table and the width should resize with it
    | as you change the window size.
    | Note that the table cell max-width is set to zero for the columns to
    | maintain even distribution.
