.DatasetView.content {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.DatasetView.content #editor {
  flex-grow: 1;
}

.DatasetView.content #attributeSettings {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.DatasetView.content #attributeSettings .cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0.5em;
  min-height: 3em;
  white-space: nowrap;
}

.DatasetView.content #attributeSettings .cell select {
  width: auto;
}