<div class="largeDialog">
  <img class="warning headerIcon" src="../../../images/warning.svg"/>
  <img src="../../../images/close.svg" id="closeOverlay" />
  <h3>
    <%= message %>
  </h3>
  <p>
    If it's not clear how to fix this, or if something else is wrong,
    <a href="<%= bugReportLink %>" target="_blank">let us know</a>.
    We want to get any problems fixed as soon as possible.
  </p>
  <p>
    Or, maybe it's not a bug, but a design problem.
    Is there something that this should be doing, but it's not?
    Do you have an idea for how this could be improved?
    If so, we'd love to work with you to build a
    <a href="<%= consultingLink %>" target="_blank">custom solution</a>
    that better fits your needs.
  </p>
  <button id="okButton">OK</button>
</div>
