/* This tooltip technique adapted from:
http://www.menucool.com/tooltip/css-tooltip
*/

a span.tooltip {
    z-index: 10;
    display: none;
    padding: 14px;
    margin-top: 0px;
    margin-left: 0px;
    line-height: 16px;
}

a:hover span.tooltip {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}


/*CSS3 extras*/

a span.tooltip {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}