@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

html, body, .page
    width 100%
    height 100%
    margin 0

.test-list
    margin 15px

.vis-table
    height 300px

.vis-full
    width 100%
    height 100%

.containing-matrix
    width 100%

canvas
    display block

.overlay
    position fixed
    bottom 200px
    right 100px
    width 200px
    padding 20px
    background-color #ffeeaabb

.hidden
    display none
    visibility hidden

text:not(.fontawe)
    font-family Open Sans !important

.lu text:not(.fontawe)
    font-family Open Sans !important
    font-size 13px !important

.lu span.lu-label
    font-family Open Sans !important
    font-size 14px !important

.geo-attribution span.geo-attribution-layer
    font-family Open Sans !important
    font-size 11px !important

#vis-element
    overflow hidden

#download-link
    visibility hidden
