#UserView {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: black;
  display: flex;
  align-content: center;
  align-items: center;
}

#UserView img.configButton {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  cursor: pointer;
}

#UserView img.configButton:hover {
  background-color: #ccc;
}

#UserView div.pageTitle {
  margin-left: 1em;
  margin-right: auto;
  color: white;
}

#UserView div.loginButtons {
  padding: 0.5em;
}