<hr id="privateProjectsDivider" class="hideable"/>
<h4 id="privateProjectsHeader" class="hideable">
  Your Private Projects
</h4>
<p id="privateProjectsExplanation" class="hideable">
  You can set advanced access permissions for these projects in the
  <a id="girderLink">Girder interface</a>.
</p>
<div id="privateProjects" class="hideable circleset">

</div>

<hr id="publicProjectsDivider" class="hideable"/>
<h4 id="publicProjectsHeader" class="hideable">
  Your Public Projects
</h4>
<p id="publicProjectsExplanation" class="hideable">
  Anyone can see these projects.
</p>
<div id="publicProjects" class="hideable circleset">

</div>

<hr id="scratchProjectsDivider" class="hideable"/>
<h4 id="scratchProjectsHeader" class="hideable">
  Your Projects in the Public Scratch Space
</h4>
<p id="scratchProjectsExplanation" class="hideable">
  Anyone can see or edit these projects at any time.
  <a id="loginLink">Log in</a> or <a id="registerLink">Register</a>
  to take control of who can see or edit these projects.
</p>
<div id="scratchProjects" class="hideable circleset">

</div>

<hr id="projectLibraryDivider" class="hideable"/>
<h4 id="projectLibraryHeader" class="hideable">
  Our Project Library
</h4>
<div id="projectLibrary" class="hideable circleset">

</div>
