@import '../../../stylesheets/colors.scss';

#Overlay #StartingScreen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 38em;
    background-color: $panelBackgroundColor;
    display: flex;
    padding: 1em;
    border: 1px solid rgba($shadowColor,0.2);
    box-shadow: 0 5px 15px rgba($shadowColor,0.5);
}
#Overlay #StartingScreen #loginLinks,
#Overlay #StartingScreen #logoutLinks {
    position: absolute;
    top: 1.5em;
    right: 4em;
}

#Overlay #StartingScreen #newProjectButtons {
    flex-wrap: nowrap;
    flex-direction: column;
}

#Overlay #StartingScreen #logo {
    position: relative;
    left: -1em;
    width: 20em;
    height: 4em;
}

#Overlay #StartingScreen #welcomeSection {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2em;
}

#Overlay #StartingScreen #welcomeSection #textWall {
}

#Overlay #StartingScreen #welcomeSection .textChunk {
    position: relative;
}

#Overlay #StartingScreen #welcomeSection .textChunk img {
    position: absolute;
    top: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
}

#Overlay #StartingScreen #welcomeSection .textChunk p {
    max-width: 30em;
}

#Overlay #StartingScreen #welcomeSection .textChunk:nth-child(odd) img {
    left: 31em;
}
#Overlay #StartingScreen #welcomeSection .textChunk:nth-child(even) p {
    position: relative;
    left: 4em;
}
