<div class="libraryInterface">
  <div id="loginLinks">
    <a id="registerLink">Register</a> | <a id="loginLink">Log In</a>
  </div>
  <div id="logoutLinks">
    <a id="logoutLink">Log Out</a></a>
  </div>
  <div id="welcomeSection">
    <h1>Resonant Laboratory App</h1>
    <div class="circleset">
      <div id="emptyToolchainButton" class="circleButton">
        <img src="../../../images/light/file.svg" />
        <span>Create an empty toolchain</span>
      </div>
      <div id="startWithVisButton" class="circleButton">
        <img src="../../../images/light/scatterplot.svg" />
        <span>Start with a visualization</span>
      </div>
      <div id="startWithDataButton" class="circleButton">
        <img src="../../../images/light/dataset.svg" />
        <span>Start with a dataset</span>
      </div>
    </div>
  </div>
  <div id="libraryChunk">
  </div>
</div>

<style type="text/css">
  #loginLinks,
  #logoutLinks {
    position: absolute;
    top: 1em;
    right: 1em;
  }
</style>
