div.lu
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  padding 0
  overflow auto
  // the collapse/expand control doesn't work on sub-headers, so hide it
  .header.stack .header_i .toolbar .fa.fa-toggle-left
    display none
