.page#table
  table#containing-table
    tr
      td#vis-element.vis-table
      td Hello
      td There
      td This
      td Is
    tr
      td Table
      td That
      td I
      td Made
      td !!!
  p.overlay This vis should fit in the table and the width should resize with it
    | as the table width is updated each second.
    | Note that the table cell max-width is set to zero for the columns to
    | maintain even distribution.
