@import '../../../stylesheets/colors.scss';

#Overlay #mainChunk {
  display: flex;
}
#Overlay #leftChunk,
#Overlay #rightChunk {
  display: flex;
  flex-direction: column;
}

#Overlay #leftChunk {
  flex-grow: 1;
}
#Overlay .divider {
  flex-grow: 0;
}
#Overlay #rightChunk {
  flex-grow: 3;
}

#Overlay #leftChunk .menuItem {
  cursor: pointer;
  padding: 0.5em 0em 0.5em 1em;
  margin: 0em -1em;
  line-height: 1.5em;
}
#Overlay #leftChunk .disabled.menuItem {
  cursor: default;
  color: $disabledColor;
}
#Overlay #leftChunk .focused.menuItem {
  background-color: $darkRolloverColor;
  color: $lightRolloverColor;
}
#Overlay #leftChunk .clickable.menuItem:hover {
  background-color: $menuRolloverColor;
  color: $darkRolloverColor;
}
