#HelpLayer svg {
  position: absolute;
  z-index: 1110;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow events to pass through the hole */
}
#HelpLayer svg > * {
  pointer-events: initial;
}
#HelpLayer #helpLayerMask {
  fill: rgba(0,0,0,0.35);
  stroke: none;
}
#HelpLayer #arrow,
#HelpLayer #bubble {
  -webkit-filter: url(#dropShadow);
  filter: url(#dropShadow);
}
#HelpLayer #arrow {
  fill: none;
}
#HelpLayer #gotIt rect,
#HelpLayer.old #bubble circle {
  fill: white;
}
#HelpLayer.new #bubble circle {
  fill: #ffffcc;
}
#HelpLayer.old #arrow {
  stroke-width: 2px;
  stroke: white;
}
#HelpLayer #gotIt rect,
#HelpLayer.old #bubble circle {
  stroke-width: 1px;
  stroke: rgba(0,0,0,0.2);
}
#HelpLayer.new #arrow,
#HelpLayer.new #bubble circle {
  stroke-width: 2px;
  stroke: #ffff33;
}
/*#HelpLayer #gotIt {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 1111;
  padding: 1em;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
#HelpLayer #gotIt > div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}
#HelpLayer #gotIt > div > * {
  margin-left: 0.25em;
  margin-right: 0.25em;
}*/
