@import '../../../stylesheets/colors.scss';

#HelpLayer svg {
  position: absolute;
  z-index: 1110;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow events to pass through the hole */
}
#HelpLayer svg > * {
  pointer-events: initial;
}
#HelpLayer #helpLayerMask {
  fill: rgba($shadowColor,0.35);
  stroke: none;
}
#HelpLayer #arrow,
#HelpLayer #bubble {
  -webkit-filter: url(#dropShadow);
  filter: url(#dropShadow);
}
#HelpLayer #arrow {
  fill: none;
}
#HelpLayer #gotIt rect,
#HelpLayer.old #bubble circle {
  fill: $panelBackgroundColor;
}
#HelpLayer.new #bubble circle {
  fill: $helpBubbleColor;
}
#HelpLayer.old #arrow {
  stroke-width: 2px;
  stroke: $panelBackgroundColor;
}
#HelpLayer #gotIt rect,
#HelpLayer.old #bubble circle {
  stroke-width: 1px;
  stroke: rgba($shadowColor,0.2);
}
#HelpLayer.new #arrow,
#HelpLayer.new #bubble circle {
  stroke-width: 2px;
  stroke: $helpBubbleColor;
}
