#HelpLayer svg {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
}
#HelpLayer path {
  fill: none;
}
#HelpLayer.old circle {
  fill: #ffffcc;
}
#HelpLayer.new circle {
  fill: #b3cde3;
}
#HelpLayer.old path,
#HelpLayer.old circle {
  stroke-width: 2px;
  stroke: #ffff33;
}
#HelpLayer.new path,
#HelpLayer.new circle {
  stroke-width: 2px;
  stroke: #377eb8;
}
#HelpLayer #gotIt {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 11;
  padding: 1em;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
#HelpLayer #gotIt > div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
}
#HelpLayer #gotIt > div > * {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
