#HelpLayer {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.35);
}
#HelpLayer .arrow {
  fill: none;
  stroke-width: 2px;
}
#HelpLayer .tip rect {
  fill: white;
}
#HelpLayer .old.arrow,
#HelpLayer .old .rect {
  stroke: rgba(255, 255, 255, 0.9);
}
#HelpLayer .new.arrow,
#HelpLayer .new .rect {
  stroke: rgba(55, 126, 184, 0.9);
}
#HelpLayer .clear.tip text {
  font-size: 2em;
  font-weight: 900;
}
#HelpLayer .clear.tip rect {
  fill: none;
  stroke: none;
}
#tuner {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 11;
  padding: 1em;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
#tuner > div {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
#tuner > div > * {
  margin-left: 0.25em;
  margin-right: 0.25em;
}