@import '../../../stylesheets/colors.scss';

#NotificationLayer {
  z-index: 1112;
  position: absolute;
  right: 1em;
  bottom: 1em;
  -ms-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
}
#NotificationLayer .notification {
  position: relative;
  padding: 1em;
}
#NotificationLayer .notification img.closeIcon {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  width: 1em;
  height: 1em;
  cursor: pointer;
  -webkit-filter: imgColorFilter($notificationColor);
  filter: imgColorFilter($notificationColor);
}
#NotificationLayer .notification .content {
  padding: 1em 2em 1em 1em;
  background-color: rgba($notificationBackgroundColor, 0.75);
  border: 2px solid $notificationColor;
  border-radius: 3px;
  text-align: right;
  width: auto;
  box-shadow: 0 5px 15px rgba($shadowColor,0.5);
}
#NotificationLayer .notification.error .content {
  background-color: rgba($errorNotificationBackgroundColor, 0.75);
  border: 2px solid $errorNotificationColor;
}
#NotificationLayer .notification.error img.closeIcon {
  -webkit-filter: imgColorFilter($errorNotificationColor);
  filter: imgColorFilter($errorNotificationColor);
}
