.hamburgerMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1em;
  border: 2px solid #ccc;
  background-color: white;
}

.hamburgerMenu > div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.hamburgerMenu > div:hover {
  background-color: #ccc;
  cursor: pointer;
}

.hamburgerMenu img {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

.hamburgerMenu p {
  padding: 1em;
  margin: 0px;
}