.hamburgerMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1em;
  border: 2px solid #ccc;
  background-color: white;
}

.hamburgerMenu img {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

.hamburgerMenu p {
  padding: 1em;
  margin: 0px;
}

.hamburgerMenu table {
  width: 100%;
}

.hamburgerMenu td.control {
  text-align: center;
}

.hamburgerMenu td p {
  display: inline-block;
}

.hamburgerMenu > p:hover,
.hamburgerMenu td.tool:hover {
  background-color: #ccc;
  cursor: pointer;
}