<div class="largeDialog">
  <img class="headerIcon" src="../../../images/spinner.gif"/>
  <img src="../../../images/close.svg" id="closeOverlay" />
  <h3>
    <%= message %>
  </h3>
  <p>If you think it should have finished by now, please let us know
    <a href="<%= bugReportLink %>" target="_blank">here</a>. If something is broken,
    we want to get it fixed as soon as possible.</p>
  <p>Or, it's totally possible that you're doing something awesome
    that we didn't anticipate (like using a huge dataset). If so, we'd
    love to work with you to build a
    <a href="<%= consultingLink %>" target="_blank">custom solution</a> that better
    fits your needs.</p>
  <button id="okButton">OK</button>
</div>
