<div class="libraryInterface">
  <img class="headerIcon" src="../../../images/hugeMistake.svg" />
  <img src="../../../images/close.svg" id="closeOverlay" />
  <h1>
    I've made a huge mistake...
  </h1>
  <summary>
    <pre>
      <%= message %>
    </pre>
  </summary>
  <details>
    <pre>
      <%= details %>
    </pre>
  </details>
  <p>
    This is a problem we didn't anticipate. Please let us know that this happened
    <a href="<%= bugReportLink %>">here</a>.
  </p>
  <button id="okButton">OK</button>
</div>
<script type="application/javascript">
  jQuery('#okButton').on('click', () => {
    window.mainPage.switchProject(null)
      .then(() => {
        window.mainPage.overlay.render('StartingScreen');
      });
  });
</script>
