@import '../../../stylesheets/colors.scss';

#Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($shadowColor,0.35);
  z-index: 1108;
  overflow: auto;
}

#Overlay .modal-dialog,
#Overlay div.largeDialog,
#Overlay div.smallDialog,
#Overlay div.hint {
  background-color: $panelBackgroundColor;
  border: 1px solid rgba($shadowColor,0.2);
  box-shadow: 0 5px 15px rgba($shadowColor,0.5);
  min-height: 15em;
}

#Overlay div.largeDialog {
  position: relative;
  max-width: 50em;
  margin: 5em auto 5em auto;
  padding: 1em 2em 2em 3em;
}

#Overlay div.smallDialog {
  position: relative;
  max-width: 30em;
  min-height: initial;
  margin: 10em auto auto auto;
  padding: 1em 2em 2em 3em;
}

#Overlay .largeDialog hr {
  position: relative;
  width: 100%;
  border: none;
  height: 1px;
  background-color: $separatorColor;
}
#Overlay .largeDialog .divider {
  position: relative;
  margin: 0em 1em;
  min-height: 100%;
  border: none;
  min-width: 1px;
  max-width: 1px;
  background-color: $separatorColor;
}

#Overlay div.hint {
  position: relative;
  margin: 5em;
  padding: 3em;
}

#Overlay pre {
  -ms-user-select: initial;
  -moz-user-select: initial;
  -webkit-user-select: initial;
}

#Overlay img.headerIcon {
  float: right;
  height: 10em;
  margin: 2em;
}
#Overlay img.headerIcon.warning {
  -webkit-filter: imgColorFilter($warningIconColor);
  filter: imgColorFilter($warningIconColor);
}
#Overlay img.headerIcon.success {
  -webkit-filter: imgColorFilter($successIconColor);
  filter: imgColorFilter($successIconColor);
}

#Overlay div.circleset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#Overlay div.circleButton {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 6em;
  height: 6em;
  padding: 1em;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}
#Overlay div.current.circleButton {
  background-color: $lightRolloverColor;
}
#Overlay div.circleButton:hover {
  border: 2px solid $darkRolloverColor;
}

#Overlay div.circleButton img {
  width: 3em;
  height: 3em;
}

#Overlay summary {
  outline: none;
}
#Overlay summary pre {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 0.15em;
}

#Overlay #closeOverlay {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
#Overlay #closeOverlay:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}
