<div class="libraryInterface">
  <img class="headerIcon" src="../../../images/hugeMistake.svg" />
  <h1>
    I've made a huge mistake...
  </h1>
  <pre>
    <%= message %>
  </pre>
  <p>
    This is a problem we didn't anticipate. We've logged it,
    and we'll get it fixed as soon as possible. If there's
    anything else you'd like to tell us, let us know
    <a href="<%= bugReportLink %>">here</a>.
  </p>
  <button id="okButton">OK</button>
</div>
<script type="application/javascript">
  jQuery('#okButton').on('click', function () {
    window.mainPage.overlay.closeOverlay();
  });

</script>
