<div class="libraryInterface">
  <img class="headerIcon" src="../../../images/okay.svg"/>
  <h1>
    <%= message %>
  </h1>
  <p>
    If something actually isn't working as it should,
    let us know <a href="<%= bugReportLink %>">here</a>.
    We want to get any problems fixed as soon as possible.
  </p>
  <p>
    Is there something that this should be doing, but it's not?
    Do you have an idea for how this could be improved?
    If so, we'd love to work with you to build a
    <a href="<%= consultingLink %>">custom solution</a>
    that better fits your needs.
  </p>
  <button id="okButton">OK</button>
</div>
<script type="application/javascript">
  jQuery('#okButton').on('click', function () {
    window.mainPage.overlay.render('StartingScreen');
  });

</script>
