<div class="hint">
  <img src="../../../images/close.svg" id="closeOverlay" />
  <img class="headerIcon" src="../../../images/newInfo.svg" />
  <p>Use this tool to "wire" data attributes to a visualization's encoding channels. For example, what should the x axis be? What should color represent?</p>
  <p>To specify your own wiring, click one of the boxes on either side...</p>
  <p>TODO: instructions with pictures and stuff...</p>
  <p>Ways to level up:
  <ul>
    <li>Do your own wiring</li>
    <li><a>Wire a dataset to multiple visualizations</a></li>
    <li><a>Wire more than one datset to a visualization</a></li>
  </ul>
  </p>
  <p>Have an idea that we haven't anticipated? If so, we'd love to work with you to adapt or build a <a>custom solution</a> that better fits your needs.</p>
</div>
