/* CB dark:
#e41a1c
#377eb8
#4daf4a
#984ea3
#ff7f00
#ffff33
#a65628
#f781bf
*/


/* CB light:
#fbb4ae
#b3cde3
#ccebc5
#decbe4
#fed9a6
#ffffcc
#e5d8bd
#fddaec
*/

#MappingView .node {
  cursor: pointer;
}

#MappingView .node rect {
  fill: #333;
  stroke: #333;
  stroke-width: 5px;
  rx: 5px;
  ry: 5px;
}

#MappingView .node text {
  text-anchor: middle;
}

#MappingView .node text.label {
  font-size: 12pt;
  font-weight: bold;
  fill: #ddd;
}

#MappingView .node text.types {
  font-size: 9pt;
  fill: #999;
}

#MappingView .node.hovered rect {
  stroke: #4daf4a;
}

#MappingView .node.ineligible {
  cursor: not-allowed;
}

#MappingView .node.ineligible rect {
  fill: #ddd;
  stroke: none;
}

#MappingView .node.ineligible text {
  fill: #999;
}

#MappingView path.edge {
  fill: none;
}

#MappingView .node.connectable rect {
  fill: #b3cde3;
  stroke: none;
}

#MappingView .node.connectable text {
  fill: #377eb8;
}

#MappingView path.potential.edge {
  stroke-dasharray: 5, 5;
  stroke-width: 5px;
  stroke: #b3cde3;
}

#MappingView .node.connectable.hovered rect,
#MappingView path.potential.edge.hovered {
  stroke: #377eb8;
  stroke-width: 5px;
  stroke-dasharray: none;
}

#MappingView path.established.edge {
  stroke-width: 3px;
  stroke: #ccebc5;
}

#MappingView .node.selected rect {
  fill: #4daf4a;
}

#MappingView .node.selected text {
  fill: #333;
}

#MappingView .node.linked rect {
  fill: #ccebc5;
}

#MappingView .node.linked text {
  fill: #4daf4a;
}

#MappingView .node.selected rect,
#MappingView .node.linked rect,
#MappingView path.established.selected.edge {
  stroke-width: 5px;
  stroke: #4daf4a;
}

#MappingView .node.linked.hovered rect {
  fill: #fed9a6;
}

#MappingView .node.linked.hovered text {
  fill: #ff7f00;
}

#MappingView .node.linked.hovered rect,
#MappingView path.established.selected.edge.hovered {
  stroke: #ff7f00;
}