@import '../../../stylesheets/colors.scss';

#WidgetPanels .emptyState {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: calc(100vh - 6em);
}
#WidgetPanels .emptyState > div {
  width: 20em;
}
#WidgetPanels .emptyState #PiecesHint,
#WidgetPanels .emptyState #QuestionHint {
  color: $watermarkLightColor;
  font-size: 1.25em;
  font-weight: 900;
  max-width: 350px;
}
#WidgetPanels .emptyState #QuestionHint {
  position: absolute;
  top: 0em;
  right: 0em;
  text-align: right;
}
#WidgetPanels .emptyState #QuestionHint img {
  width: 1em;
  height: 1em;
  -webkit-filter: imgColorFilter($watermarkLightColor);
  filter: imgColorFilter($watermarkLightColor);
}
#WidgetPanels .emptyState .watermark {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 16em);
  width: 32em;
  height: 8em;
  cursor: pointer;
  -webkit-filter: imgColorFilter($watermarkColor);
  filter: imgColorFilter($watermarkColor);
}
#WidgetPanels .emptyState .watermark:hover {
  -webkit-filter: none;
  filter: none;
}
#WidgetPanels .content .emptyStateHelper {
  -webkit-filter: imgColorFilter($lightDisabledColor);
  filter: imgColorFilter($lightDisabledColor);
  cursor: pointer;
}
#WidgetPanels .content .emptyStateHelper:hover {
  -webkit-filter: imgColorFilter($darkRolloverColor);
  filter: imgColorFilter($darkRolloverColor);
}
