<details id="privateProjectsSection" class="hideable">
  <summary><h3>Your Private Projects</h3></summary>
  <p>Advanced access permissions can be set in the
    <a id="girderLink">Girder interface</a>.</p>
  <div id="privateProjects" class="circleset"></div>
</details>


<details id="publicProjectsSection" class="hideable">
  <summary><h3>Your Public Projects</h3></summary>
  <p>Anyone can see these projects.</p>
  <div id="publicProjects" class="circleset"></div>
</details>


<details id="scratchProjectsSection" class="hideable">
  <summary><h3>Your Projects in the Public Scratch Space</h3></summary>
  <p>Anyone can see or edit these projects at any time.
    <a id="loginLink2">Log in</a>
    or <a id="registerLink2">Register</a> to take control of who can
    see or edit these projects.</p>
  <div id="scratchProjects" class="circleset"></div>
</details>


<details id="projectLibrarySection" class="hideable">
  <summary><h3>Public Project Library</h3></summary>
  <div id="projectLibrary" class="circleset"></div>
</details>
