<div class="hint">
  <img src="../../../images/close.svg" id="closeOverlay" />
  <img class="headerIcon" src="../../../images/okay.svg" />
  <p>The visualization appears to be working.</p>
  <p>If it isn't, please let us know <a href="#bugReport">here</a>. If something is broken, we want to get it fixed as soon as possible.</p>
  <p>Or, maybe it's not a bug, but a design problem. Is there something that this should be doing, but it's not? Do you have an idea for how this could be improved? If so, we'd love to work with you to adapt or build a <a href="#customSolution">custom solution</a> that better fits your needs.</p>
</div>
