<svg>
  <path id="helpLayerMask"></path>
  <path id="arrow"></path>
  <g id="bubble">
    <circle></circle>
    <text id="tipText"></text>
    <g id="gotIt">
      <rect width="8em" height="2em" x="0em" y="-2em"></rect>
      <text text-anchor="middle" x="4em" y="-0.7em">
        <a id="nextTipButton">Next Tip</a> | <a id="gotItButton">Close</a>
      </text>
    </g>
  </g>
</svg>
<!--<div id="gotIt">
  <div>
    <button id="nextTipButton">Next Tip</button>
    <button id="gotItButton">Close</button>
  </div>
</div-->
