doctype html
html(lang="en")
  head
    title High-Level Ground Truth Dashboard
    link(href="trackerdash.min.css", rel="stylesheet")
    link(href="bootstrap.min.css", rel="stylesheet")
    link(href="nv.d3.css", rel="stylesheet")
    script(src="trackerdash.libs.min.js")
    script(src="trackerdash.min.js")
    script(src="main.min.js")
  body
    .container
