doctype html
html(lang="en")
  head
    title High-Level Ground Truth Dashboard
    link(href="app.min.css", rel="stylesheet")
    link(href="bootstrap.min.css", rel="stylesheet")
    link(href="nv.d3.css", rel="stylesheet")
    script(src="libs.min.js")
    script(src="app.min.js")
  body
    .container
