.midas-dashboard.container-fluid
  .overview-panel.row
    .info-pane.col-md-6
      .info-title Trackerdash Ground Truth Performance
    .trend-pane.col-md-6
      .trend-graph Graph goes here
    .status-bar.col-md-12
  .chart-panel.row
    .chart-pane.col-md-12
