.info-title.info-name #{name}
.info-value.info-branch #{branch}
.info-value.info-date #{day}
.info-help
  a(href='https://github.com/Trailmix/RedwoodInternal/wiki/Midas-for-Metrics-Based-Testing#performance-dashboards').help Help
