doctype html
head
    title Reconspect

    link(href="index.min.css" rel="stylesheet")

    script(src="js/d3.min.js")
    script(src="js/vega.js")
    script(src="js/vcharts.js")
    script(src="reconspect.min.js")
    script(src="index.js")

body
    #raw.content.border
    #vcharts-line.content.border
