/* CSS-only horizontal accordion adapted from:
    http://www.sitepoint.com/css3-horizontal-accordion-using-target-selector/
*/

div.accordion {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

div.accordion section {
  position: relative;
  background-color: white;
  float: left;
  width: 2em;
  height: calc(100% - 1em);
  margin: 0.5em 0 0.5em 0.5em;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

div.accordion section .sectionHeader,
div.accordion section .sectionHeader * {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

div.accordion section .sectionHeader {
  position: absolute;
  justify-content: space-between;
  cursor: pointer;
  background-color: #f0f0f0;
  width: calc(100vh - 4.5em);
  padding: 0 0.25em;
  height: 2em;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

div.accordion section .sectionHeader:hover {
  background-color: #f7f7f7;
}

div.accordion section div.content {
  opacity: 0.0;
  -webkit-transition: 0s ease;
  -moz-transition: 0s ease;
  -ms-transition: 0s ease;
  -o-transition: 0s ease;
  transition: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

div.accordion section.targeted .sectionHeader {
  position: static;
  width: calc(100% - 0.5em);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

div.accordion section.targeted div.content {
  opacity: 1.0;
  position: relative;
  width: 100%;
  height: calc(100% - 3em);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
