#WidgetPanels .emptyState {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: calc(100vh - 6em);
  color: #f0f0f0;
}
#WidgetPanels .emptyState > div {
  width: 20em;
}
#WidgetPanels .emptyState #QuestionHint {
  position: absolute;
  top: 0em;
  right: 0em;
  text-align: right;
}
#WidgetPanels .emptyState #QuestionHint img {
  width: 1em;
  height: 1em;
  -webkit-filter: url(#recolorImageToffffcc);
  filter: url(#recolorImageToffffcc);
}
#WidgetPanels .emptyState .watermark {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 8em;
  height: 8em;
  cursor: pointer;
  -webkit-filter: url(#recolorImageTo999999);
  filter: url(#recolorImageTo999999);
}
#WidgetPanels .emptyState .watermark:hover {
  -webkit-filter: url(#dropShadow);
  filter: url(#dropShadow);
}
