#singleDatasetViewContainer {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  /* For the dataset view, we deliberately
  override the parent's padding*/
  margin-left: -1em;
  width: calc(100% + 2em);
}

#editor {
  flex-grow: 1;
}

#attributeSettings {
  overflow: auto;
  display: block;
}

#attributeSettings .cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0.5em;
  min-height: 3em;
  white-space: nowrap;
}

#attributeSettings .cell select {
  width: auto;
}