@import '../../../stylesheets/colors.scss';

#WidgetPanels #spinnerWatermark {
  position: absolute;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  -webkit-filter: imgColorFilter($watermarkColor);
  filter: imgColorFilter($watermarkColor);
}
