.info-title
  font-size 26pt

.info-section
  font-size 22pt

.info-subsection
  padding-right 50px

.info-pane
  height 400px

.trend-pane
  height 400px

.trend-chart
  height 350px

.status-bar-chart
  height 50px

.status-bar-widget
  position absolute
  bottom 50px
  width 100%

.bullet-container
  svg
    height 55px

.result-labels
  font-size 16pt
  font-weight bold

svg
  .success
    fill rgb(147, 196, 125)

  .bad
    fill rgb(241, 194, 50)

  .fail
    fill rgb(204, 0, 0)

  .status-bar-label
    text-anchor middle
