.info-title
  font-size 26pt

.info-section
  font-size 22pt

.info-subsection
  padding-right 50px

.info-pane
  height 400px

.trend-pane
  height 400px

.trend-chart
  height 350px

.status-bar-chart
  height 50px

.status-bar-widget
  padding-top 50px
  width 100%

.bullet-container
  svg.bullet
    height 55px

.result-labels
  font-size 16pt
  font-weight bold

svg.statusDot
  margin-top 13px
  width 15px
  height 15px
  position absolute

svg
  .success
    fill rgb(147, 196, 125)

  .bad
    fill rgb(241, 194, 50)

  .fail
    fill rgb(204, 0, 0)

  .none
    fill rgba(0, 0, 0, 0)

  .status-bar-label
    text-anchor middle
