body
  font-size 14pt
  padding 5px

.info-title
  font-size 20px

.info-pane
  height 400px

.trend-pane
  height 400px
  border 2 dotted

.trend-chart
  height 350px

.status-bar-chart
  height 50px

svg
  .success
    fill rgb(147, 196, 125)

  .bad
    fill rgb(241, 194, 50)

  .fail
    fill rgb(204, 0, 0)

  .status-bar-label
    text-anchor middle
