#Overlay #uploadSection .hide {
  display: none;
}
#Overlay .g-dialog-subtitle .icon-folder-open {
  content: url('../../../images/private.svg');
  width: 1.5em;
  height: 1.5em;
  margin: 0em 0.5em 0em 0em;
  position: relative;
  top: 0.25em;
}
#Overlay .g-drop-zone {
  cursor: pointer;
  padding: 1em 3em;
  border: 1px dashed black;
}
