@import '../../../stylesheets/colors.scss';

#Overlay #uploadSection > div {
  position: relative;
  width: 100%;
}
#Overlay #uploadSection .hide {
  display: none;
}
#Overlay #uploadSection .g-dialog-subtitle .icon-folder-open {
  content: url('../../../images/private.svg');
  width: 1.5em;
  height: 1.5em;
  margin: 0em 0.5em 0em 0em;
  position: relative;
  top: 0.25em;
}
#Overlay #uploadSection .g-drop-zone {
  cursor: pointer;
  padding: 1em;
  text-align: center;
  border: 1px dashed black;
}
#Overlay #uploadSection .progress {
  height: 1em;
  width: 100%;
  background-color: $matchingSuccessTextColor;
}
#Overlay #uploadSection .progress-bar {
  height: 1em;
  background-color: $matchingSuccessColor;
}
#Overlay #uploadSection .g-current-progress-message,
#Overlay #uploadSection .g-progress-current {
  /*
  For now, we only support uploading one file at a time,
  so hide the redundant progress bar
  */
  display: none;
}
#Overlay #uploadSection button {

}
